:root {
  font-family: 'Amatic SC', cursive;
}
body {
  background-color: black;
}
section#first {
  height: 25em;
}
body > h1 {
  color: white;
}
img#sendy {
  margin: 5em 5em auto 5em;
  border-radius: 10px;
  box-shadow: 0 0 100px black inset;
}
